.home{
    padding: 0px 10px;
    padding-bottom: 100px;
}

.hero{
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 80px;
}

.hero h1{
    font-size: max(4vw,36px);
    position: relative;
    color: rgb(24, 23, 23);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.80em;
    outline: none;
    animation: animate 1.5s ease-in-out forwards ;

}


@keyframes animate{
  0%, 10%, 13%, 18%, 20%, 65%, 70%, 90.1% {
    color: rgb(24, 24, 26);
    text-shadow: none;
  }

  11%, 15%, 20.5%, 65.5% {
    color: #fff;
    text-shadow:
      0 0 10px #03bcf4,
      0 0 20px #03bcf4,
      0 0 40px #03bcf4,
      0 0 80px #03bcf4,
      0 0 160px #03bcf4;
  }

  100% {
    color: #fff;
    text-shadow:
      0 0 10px #03bcf4,
      0 0 20px #03bcf4,
      0 0 40px #03bcf4,
      0 0 80px #03bcf4,
      0 0 160px #03bcf4;
  }
}

}

.hero p{
    width: 100%;
    color: #e3e3e3;
    line-height: 1.5;
}

.hero form{
    padding: 8px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.hero input{
    flex:  1;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.hero button{
    border: none;
    background: #169dbb;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.crypto-table{
    max-width: 800px;
    margin: auto;
    background: linear-gradient(rgba(81, 39, 163, 0.636),rgba(11, 65, 97, 0.356),rgba(57, 9, 133, 0.362));
    border-radius: 15px;
}

.table-layout{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
}

.market-cap{
    text-align: right;
}

.table-layout:last-child{
    border: none;
}

.table-layout div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-layout div img{
    width: 35px;
}

.table-layout .green{
    color: #09dc88 ;
    text-align: center;
}

.table-layout .red{
    color: #f23726 ;
    text-align: center;
}

@media(max-width:768px){
   .table-layout{
         grid-template-columns: 0.5fr 3fr 1fr 1fr;
   }
   .market-cap{
    display: none;
   }
}

@media(max-width:500px){
   .table-layout div img{
         width: 25px;
   }
   .table-layout{
    font-size: 13px;
   }

   .hero form input{
     width: 100px;
   }
}

